recursive-include inkcut/res *.png
recursive-include inkcut/res *.svg
recursive-include inkcut/res *.qm
recursive-include inkcut/res *.ts
recursive-include inkcut/res *.desktop
recursive-include inkcut *.enaml
