enaml>=0.10.2
# https://twistedmatrix.com/trac/ticket/9121
twisted[tls]
enamlx
pyqtgraph
qtconsole
pyserial>=3.4
jsonpickle
lxml
future; python_version < '3.0'
faulthandler; python_version < '3.0'
qt4reactor; python_version < '3.0'
qt5reactor; python_version >= '3.0'
pytest
pytest-cov
# for pytest-qt:
PySide; python_version < '3.0'
pytest-qt
codecov
