enaml>=0.10.2
enamlx
pyqtgraph
ipykernel<5; python_version < '3.0'
qtconsole
pyserial>=3.4
jsonpickle
lxml
faulthandler; python_version < '3.0'
PyQt6; python_version >= '3.0'
asyncqtpy
pytest
pytest-coverage
pytest-asyncio
# for pytest-qt:
pytest-qt
codecov
