enaml>=0.10.2
twisted
enamlx
pyqtgraph
qtconsole
pyserial>=3.4
jsonpickle
lxml
future; python_version < '3.0'
faulthandler; python_version < '3.0'
PySide; python_version < '3.0'
PyQt5; python_version >= '3.0'
qt-reactor
pytest
pytest-cov
# for pytest-qt:
pytest-qt
codecov
